/* latin-ext */
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizYRExUiTo99u79D0e0ycmIEDQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizYRExUiTo99u79D0e0x8mI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizaRExUiTo99u79D0yExdGM.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizaRExUiTo99u79D0KExQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizfRExUiTo99u79B_mh0OCtLQ0Z.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizfRExUiTo99u79B_mh0O6tLQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizYRExUiTo99u79D0e0ycmIEDQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizYRExUiTo99u79D0e0x8mI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizaRExUiTo99u79D0yExdGM.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizaRExUiTo99u79D0KExQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizfRExUiTo99u79B_mh0OCtLQ0Z.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizfRExUiTo99u79B_mh0O6tLQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptserif/v17/EJRVQgYoZZY2vCFuvAFYzr-tdg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptserif/v17/EJRVQgYoZZY2vCFuvAFWzr8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.menu-secondaire, #sous-menu-principal .menu, .menu-profil, .menu-principal {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.connexion .contenu > div, .carte {
  box-sizing: border-box;
  padding: 1.11rem;
  border: #1A2544 solid 1px;
  border-radius: 0.55rem;
}

.formulaire-inscription input:not([type=submit]),
.champ-obligatoire input:not([type=submit]), .formulaire-profil input:not([type=submit]), .formulaire-contact input:not([type=submit]) {
  background-color: #d0d5e0;
  background-repeat: no-repeat;
  background-position: center right 1.5%;
  border: none;
  height: 1.67rem;
}
.formulaire-inscription input,
.champ-obligatoire input, .formulaire-profil input, .formulaire-contact input {
  width: 100%;
}
@media screen and (max-width: 760px) {
  .formulaire-inscription,
.champ-obligatoire, .formulaire-profil, .formulaire-contact {
    width: auto;
  }
}
.formulaire-inscription .submit,
.champ-obligatoire .submit, .formulaire-profil .submit, .formulaire-contact .submit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 1.22rem;
}
.formulaire-inscription #envoyer[type=submit],
.champ-obligatoire #envoyer[type=submit], .formulaire-profil #envoyer[type=submit], .formulaire-contact #envoyer[type=submit] {
  width: 8.05rem;
  height: 2.5rem;
  color: white;
  font-weight: bold;
  background-color: #D57A1E;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.formulaire-inscription #annuler[type=reset],
.champ-obligatoire #annuler[type=reset], .formulaire-profil #annuler[type=reset], .formulaire-contact #annuler[type=reset] {
  width: 8.05rem;
  height: 2.5rem;
  color: white;
  background-color: #46516B;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

:root,
html {
  font-size: 18px;
}
@media screen and (max-width: 920px) {
  :root,
html {
    font-size: 15px;
  }
}

body {
  font-family: "PT Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #1A2544;
}

h1,
h2,
h3,
h4 {
  font-family: "PS Serif", Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.44rem;
}

h3 {
  font-size: 1.33rem;
}

h4 {
  font-size: 1.22rem;
}

a {
  color: #D57A1E;
  text-decoration: none;
}
a:hover {
  color: #a86018;
}

main {
  width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 1080px) {
  main {
    width: auto;
    padding: 0 1.11rem;
  }
}

.titre-page {
  text-align: center;
  margin: 2.2rem auto 2rem auto;
}

.sous-titre-page {
  text-align: center;
  margin: 2.8rem auto 2rem auto;
}

.centre-ecran {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

/*=================================================================
le header
=================================================================*/
#header svg {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-1.56rem);
  left: 1.11rem;
  width: 3.94rem;
  height: 3.78rem;
}
#header svg path {
  fill: #1A2544;
}

#header .identite {
  position: relative;
  text-align: center;
}

.titre-site {
  margin-top: 1rem;
}

.slogan {
  margin-top: 0.1rem;
  font-size: 0.89rem;
}

@media screen and (max-width: 640px) {
  #header svg {
    position: static;
    transform: unset;
    margin-top: 1.11rem;
  }
}
#navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #323a4c;
  margin-top: 2rem;
}

.menu-principal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.menu-principal a {
  display: block;
  padding: 0.6rem 1.11rem;
  color: #d0d5e0;
}
.menu-principal a:hover {
  background-color: #d0d5e0;
  color: #323a4c;
}

.perso {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  color: #d0d5e0;
  padding: 0 1.11rem;
}
.perso:hover {
  cursor: pointer;
  background-color: #46516B;
}

.perso img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  margin-right: 1rem;
}

li.active a {
  background-color: #d0d5e0;
  color: #323a4c;
}

.menu-profil {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  flex-wrap: nowrap;
  text-align: right;
}
.menu-profil a {
  display: block;
  padding: 0.6rem 1.11rem;
  background-color: #323a4c;
  color: #d0d5e0;
}
.menu-profil a:hover {
  background-color: #d0d5e0;
  color: #323a4c;
}
.menu-profil li:not(:nth-child(2n)) {
  border-bottom: 1px solid #d0d5e0;
}

#sous-menu-profil {
  position: relative;
}

.menu-profil {
  position: absolute;
  right: 0;
}

#icon-burger {
  width: 2rem;
  height: 2rem;
  margin-left: 1.11rem;
  background-image: url(images/burger.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 760px) {
  #icon-burger {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .menu-principal {
    display: none;
  }
}
#sous-menu-principal .menu a {
  display: block;
  text-align: center;
  padding: 0.6rem;
  background: #46516B;
  color: #d0d5e0;
}
#sous-menu-principal .menu li:not(:last-child) {
  border-bottom: 1px solid #d0d5e0;
}

/*=================================================================
Le footer
=================================================================*/
#footer svg {
  width: 13.66rem;
  height: 5.11rem;
}
#footer svg path {
  fill: #d0d5e0;
}

#footer {
  background-color: #1A2544;
  margin-top: 3rem;
  padding: 0.55rem 1.11rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.menu-secondaire {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}
.menu-secondaire a {
  display: block;
  padding: 0.6rem 0;
  color: #d0d5e0;
}
.menu-secondaire a:hover {
  text-decoration: underline;
}
.menu-secondaire li:not(:last-child) {
  margin-right: 1.11rem;
}
.menu-secondaire li.actif a {
  text-decoration: underline;
}

.syllabus-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.syllabus-footer a {
  color: #d0d5e0;
  font-size: 1.33rem;
}
.syllabus-footer a:hover {
  text-decoration: underline;
}
.syllabus-footer p {
  color: #d0d5e0;
  margin-left: 0.55rem;
}

@media screen and (max-width: 760px) {
  #footer {
    flex-direction: column;
  }
  .syllabus-footer {
    justify-content: center;
  }
  #footer svg {
    margin: 2rem auto;
  }
}
@media screen and (max-width: 560px) {
  .menu-secondaire,
.syllabus-footer {
    flex-direction: column;
  }
}
/*============================================================
Les cartes
============================================================*/
.cartes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.carte {
  position: relative;
  margin-bottom: 1.11rem;
  width: 320px;
}
.carte a svg {
  fill: #D57A1E;
}
.carte a svg:hover {
  fill: #a86018;
}
.carte svg {
  width: 1rem;
  height: 1rem;
}
.carte .carte__previsualisation {
  position: absolute;
  right: 1.11rem;
  transform: translateY(0.44rem);
}
.carte .carte__titre {
  margin-top: 0;
  text-align: center;
}
.carte .carte__actions, .carte .carte__infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.carte .carte__date {
  font-style: italic;
}
@media screen and (max-width: 1080px) {
  .carte {
    width: 32%;
  }
}
@media screen and (max-width: 760px) {
  .carte {
    width: 48%;
  }
}
@media screen and (max-width: 560px) {
  .carte {
    width: 98%;
  }
}

/*============================================================
Formulaire de connexion
============================================================*/
.connexion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.connexion div {
  text-align: center;
}
.connexion div .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.connexion .previsualisation,
.connexion svg {
  width: 1rem;
  height: 1rem;
  fill: #D57A1E;
}

.connexion .contenu {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.connexion .contenu > div {
  box-sizing: border-box;
  width: 360px;
}
.connexion .mot-de-passe input {
  margin-left: 1rem;
}
.connexion img {
  cursor: pointer;
}

.connexion #header svg {
  position: static;
  margin-top: 2rem;
}
.connexion .field,
.connexion .submit input[type=submit] {
  margin-bottom: 1rem;
  cursor: pointer;
}

/*============================================================
Formulaire de contact
============================================================*/
.formulaire-contact {
  width: 700px;
  margin: auto;
}
@media screen and (max-width: 760px) {
  .formulaire-contact {
    width: auto;
  }
}
.formulaire-contact textarea {
  width: 100%;
}
.formulaire-contact textarea {
  background-color: #d0d5e0;
  border: none;
}

.fields .field {
  margin: 0.5rem 0;
}
.fields .acceptation-conditions input {
  width: auto;
  display: inline-block;
}

/*============================================================
Formulaire de profil
============================================================*/
.formulaire-profil,
.photo-profil {
  width: 700px;
  margin: auto;
}
@media screen and (max-width: 760px) {
  .formulaire-profil,
.photo-profil {
    width: auto;
  }
}
.formulaire-profil .actions,
.photo-profil .actions {
  width: 175px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 1.22rem;
}
.formulaire-profil .actions svg,
.photo-profil .actions svg {
  width: 1rem;
  height: 1rem;
  fill: #D57A1E;
  cursor: pointer;
}
.formulaire-profil .actions svg:hover,
.photo-profil .actions svg:hover {
  fill: #a86018;
}

.profil {
  background-image: url(images/modifier.svg);
}

.fields .field {
  margin: 0.5rem 0;
}

/*============================================================
Formulaire d'inscription
============================================================*/
.formulaire-inscription,
.champ-obligatoire {
  width: 700px;
  margin: auto;
}
@media screen and (max-width: 760px) {
  .formulaire-inscription,
.champ-obligatoire {
    width: auto;
  }
}

/*============================================================
Marques-pages
============================================================*/
.les-marques-pages {
  border: 1px solid #1A2544;
  border-radius: 10px;
  margin-top: 1.11rem;
}
.les-marques-pages .un-marque-page svg {
  width: 1.11rem;
  height: 1.11rem;
  fill: #D57A1E;
  padding: 0.3rem;
}
.les-marques-pages .un-marque-page {
  display: flex;
  flex-direction: row;
  padding: 1.11rem;
}
.les-marques-pages .alt-fond:nth-child(even) {
  background-color: #d0d5e0;
}
.les-marques-pages .alt-fond:first-child {
  border-radius: 10px 10px 0 0;
}
.les-marques-pages .alt-fond:last-child {
  border-radius: 0 0 10px 10px;
}

.lien-les-marques-pages a {
  color: #1A2544;
  margin-left: 1.11rem;
}

/*============================================================
Taxonomie de bloom
============================================================*/
.accordeon .fleche {
  background-image: url(images/deplier-icon.svg);
  width: 26px;
  height: 17px;
  background-size: cover;
  transition-duration: 3s;
}
.accordeon h3,
.accordeon h4 {
  margin: 0;
}
.accordeon h4 {
  text-align: center;
}
.accordeon p {
  margin: 1rem 0 1.1rem 0;
}
.accordeon .bandeau {
  margin-top: 2rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #d0d5e0;
}

.pedagogies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.pedagogies svg {
  width: 1.11rem;
  height: 1.11rem;
  fill: #D57A1E;
  padding: 0.3rem;
}
.pedagogies .un-verbe,
.pedagogies .une-activite {
  margin: 0.2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
}
.pedagogies .ajouter-ressource {
  padding: 1rem 0.5rem;
}
.pedagogies .un-verbe,
.pedagogies .une-activite {
  padding: 0 0.5rem;
}
.pedagogies .nom-verbe,
.pedagogies .nom-activite {
  padding-left: 1.22rem;
}
.pedagogies .les-verbes,
.pedagogies .les-activites {
  border: 1px solid #1A2544;
  border-radius: 10px;
  width: 400px;
  padding: 1rem 0;
}

.ajouter-ressource {
  padding: 0.4rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #1A2544;
}
.ajouter-ressource span {
  margin-left: 1rem;
}
.ajouter-ressource svg {
  width: 25px;
  height: 25px;
  fill: #1A2544;
}

.est_invisible_sous_menu_profil {
  margin-right: 7000px;
}

.est_invisible_sous_menu_principal {
  display: none;
}

.msg {
  color: white;
  display: block;
  width: 100%;
}
.msg.est-alerte {
  background-color: #e63200;
  padding: 0.2rem;
}
.msg.est-alerte.est-succes {
  background-color: #24A07A;
}

#footer li.active a {
  background-color: transparent;
  color: #d0d5e0;
}

#footer li.active a {
  text-decoration: underline;
}

.no-sm {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
