.ajouter-ressource {
    margin-bottom: 1.11rem;
    padding: .4rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $couleur-primaire;

    span {
        margin-left: 0.33rem;
    }

    svg {
        width: 1.39rem;
        height: 1.39rem;
        fill: $couleur-lien;

        &:hover {
            fill: darken($couleur-lien, 10);
        }
    }
}


.modal{
    background-color: #999;
}