:root,
html {
    font-size: 18px;

    @media screen and (max-width: 920px) {
        font-size: 15px;
    }
}

body {
    font-family: 'PT Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: $couleur-primaire;
}

h1,
h2,
h3,
h4 {
    font-family: 'PS Serif', Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.44rem;
}

h3 {
    font-size: 1.33rem;
}

h4 {
    font-size: 1.22rem;
}

a {
    color: $couleur-lien;
    text-decoration: none;

    &:hover {
        color: darken($couleur-lien, 10);
    }
}

form{
    @extend %formulaire;
}