main {
    width: 1000px;
    margin: 0 auto;

    @media screen and (max-width: 1080px) {
        width: 90vw;
        padding: 0 1.11rem;
    }
}

.titre-page {
    text-align: center;
    margin: 2.2rem auto 2rem auto;
}

.sous-titre-page {
    text-align: center;
    margin: 2.8rem auto 2rem auto;
}

.centre-ecran {
    @include flex(row, center, center);
}

.cols{
    display: flex;
    justify-content: space-between;
}

.stretch{
    align-self: stretch;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    main{
        flex-grow: 1;
    }
}

.modal{
    position: absolute;
    z-index: 1;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    text-align: center;
    padding: 1rem 2rem;
}