@mixin flex($direction:row, $horizontal:space-between, $vertical:center, $wrap:nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $horizontal;
    align-items: $vertical;
    flex-wrap: $wrap;

}


%menu {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

%carte {
    box-sizing: border-box;
    padding: 1.11rem;
    border: $couleur-primaire solid 1px;
    border-radius: 0.55rem;
}

%formulaire {
    input {
        background-color: lighten($couleur-secondaire, 50);
        border: none;
        height: 1.67rem;
        width: 100%;
    }



    @media screen and (max-width:760px) {
        width: auto;
    }

    .submit {
        @include flex(row, center, center);
        margin-top: 1.22rem;
    }

    [type=submit],
    [type=reset] {
        display: flex;
        padding: 1rem 0;
        max-width: 12rem;
        align-items: center;
        line-height: 0rem;
        color: white;
        font-weight: bold;
        background-color: $couleur-lien;
        //border: none;
        border-radius: 10px;
        cursor: pointer;
        transform: translateX(-2rem);
        -webkit-transform: translateX(-2rem);
        -moz-transform: translateX(-2rem);
        -ms-transform: translateX(-2rem);
        -o-transform: translateX(-2rem);
    }

    [type=reset] {
        background-color: $couleur-secondaire;
        transform: translateX(2rem);
        -webkit-transform: translateX(2rem);
        -moz-transform: translateX(2rem);
        -ms-transform: translateX(2rem);
        -o-transform: translateX(2rem);
    }

    @media screen and (max-width: 1080px) {

        [type=submit],
        [type=reset] {
            max-width: 20vw;
        }

        [type=submit] {

            transform: translateX(-2.4vw);
            -webkit-transform: translateX(-2.4vw);
            -moz-transform: translateX(-2.4vw);
            -ms-transform: translateX(-2.4vw);
            -o-transform: translateX(-2.4vw);
        }

        [type=reset] {

            transform: translateX(2.4vw);
            -webkit-transform: translateX(2.4vw);
            -moz-transform: translateX(2.4vw);
            -ms-transform: translateX(2.4vw);
            -o-transform: translateX(2.4vw);
        }
    }
    @media screen and (max-width: 760px) {
        [type=submit],
        [type=reset] {
            max-width: 30vw;
        }
    }
    @media screen and (max-width : 560px) {
        [type=submit],
        [type=reset] {
            max-width: 34vw;
        }
    }
}

%accordeon {
    .fleche {
        background-image: url(images/deplier-icon.svg);
        width: 26px;
        height: 17px;
        background-size: cover;
        transition-duration: .3s;

        &.vers-bas {
            transform: rotate(0);
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            -ms-transform: rotate(0);
            -o-transform: rotate(0);
        }

        &.vers-haut {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
        }
    }


    h3,
    h4 {
        margin: 0;
    }

    h4 {
        text-align: center;
    }

    p {
        margin: 1rem 0 1.1rem 0;
    }

    .bandeau {
        margin-top: 2rem;
        padding: 0 1rem;
        @include flex(row, space-between, center);
        background-color: lighten($couleur-secondaire, 50);



    }
}