.est_invisible_sous_menu_profil {
    margin-right: 7000px;
}

.est_invisible_sous_menu_principal,
.est-enroule {
    display: none;
}

.est-transparent {
    visibility: hidden;
}

.est-alerte {
    color: $couleur-danger;
}

.est-succes {
    color: $couleur-info
}

.msg {
    color: white;
    display: block;
    width: 100%;

    &.est-alerte {
        background-color: $couleur-danger;
        padding: 0.2rem;

        &.est-succes {
            background-color: $couleur-info;
        }
    }

}

#footer li.active a {
    background-color: transparent;
    color: lighten($couleur-secondaire, 50)
}

#footer li.active a {
    text-decoration: underline;
}