/*=================================================================
le header
=================================================================*/
//logo

#header svg {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-1.56rem);
    left: 1.11rem;
    width: 3.94rem;
    height: 3.78rem;

    & path {
        fill: $couleur-primaire;
    }
}

#header .identite {
    position: relative;
    text-align: center;
}

.titre-site {
    margin-top: 1rem;
}

.slogan {
    margin-top: 0.1rem;
    font-size: 0.89rem;
}

@media screen and (max-width: 640px) {
    #header svg {
        position: static;
        transform: unset;
        margin-top: 1.11rem
    }
}

//menus

#navigation {
    @include flex();
    background-color: darken($couleur-secondaire, 10);
    margin-top: 2rem;
}

.menu-principal {
    @extend %menu;
    @include flex(row, flex-start, center);

    a {
        display: block;
        padding: 0.6rem 1.11rem;
        color: lighten($couleur-secondaire, 50);

        &:hover {
            background-color: lighten($couleur-secondaire, 50);
            color: darken($couleur-secondaire, 10);
        }
    }
}

//perso-profil

.perso {
    @include flex(row, flex-end, center);
    color: lighten($couleur-secondaire, 50);
    padding: 0 1.11rem;

    &:hover {
        cursor: pointer;
        background-color: $couleur-secondaire;
    }
}

.perso img {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    margin-right: 1rem;
}

li.active a {
    background-color: lighten($couleur-secondaire, 50);
    color: darken($couleur-secondaire, 10);
}

.menu-profil {
    @extend %menu;
    @include flex(column, right, right);
    text-align: right;
    z-index: 1;

    a {
        display: block;
        padding: 0.6rem 1.11rem;
        background-color: darken($couleur-secondaire, 10);
        color: lighten($couleur-secondaire, 50);

        &:hover {
            background-color: lighten($couleur-secondaire, 50);
            color: darken($couleur-secondaire, 10);
        }
    }

    li:not(:nth-child(2n)) {
        border-bottom: 1px solid lighten($color: $couleur-secondaire, $amount: 50);
    }
}

#sous-menu-profil {
    position: relative;
}

.menu-profil {
    position: absolute;
    right: 0;
}

//menu burger

#icon-burger {
    width: 2rem;
    height: 2rem;
    margin-left: 1.11rem;

    background: {
        image: url(images/burger.svg);
        size: cover;
        repeat: no-repeat;

    }

    ;

    @media screen and (min-width: 760px) {
        display: none;
    }
}

@media screen and (max-width: 760px) {
    .menu-principal {
        display: none;
    }
}

#sous-menu-principal .menu {
    @extend %menu;

    a {
        display: block;
        text-align: center;
        padding: .6rem;
        background: $couleur-secondaire;
        color: lighten($color: $couleur-secondaire, $amount: 50);
    }

    li:not(:last-child) {
        border-bottom: 1px solid lighten($color: $couleur-secondaire, $amount: 50);
    }
}



/*=================================================================
Le footer
=================================================================*/

#footer svg {
    width: 13.66rem;
    height: 5.11rem;

    & path {
        fill: lighten($couleur-secondaire, 50);
    }
}

#footer {
    background-color: $couleur-primaire;
    margin-top: 3rem;
    padding: 0.55rem 1.11rem;
    @include flex(row, space-between, center);
}

//menu secondaire

.menu-secondaire {
    @extend %menu;
    @include flex(row, flex-end, center);

    a {
        display: block;
        padding: 0.6rem 0;
        color: lighten($couleur-secondaire, 50);

        &:hover {
            text-decoration: underline;
        }
    }

    li:not(:last-child) {
        margin-right: 1.11rem
    }

    li.actif a {
        text-decoration: underline;
    }
}

.syllabus-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
        color: lighten($couleur-secondaire, 50);
        font-size: 1.33rem;

        &:hover {
            text-decoration: underline;
        }
    }

    p {
        color: lighten($couleur-secondaire, 50);
        margin-left: 0.55rem;
    }
}

@media screen and (max-width: 760px) {
    #footer {
        flex-direction: column;
    }

    .syllabus-footer {
        justify-content: center;
    }

    #footer svg {
        margin: 2rem auto;
    }
}

@media screen and (max-width: 560px) {

    .menu-secondaire,
    .syllabus-footer {
        flex-direction: column;
    }
}