/*============================================================
Les cartes
============================================================*/
.cartes {
    @include flex($wrap:wrap);

}

.carte {
    position: relative;
    margin-bottom: 1.11rem;
    width: 320px;
    @extend %carte;

    a svg {
        fill: $couleur-lien;

        &:hover {
            fill: darken($couleur-lien, 10);
        }
    }

    svg {
        width: 1rem;
        height: 1rem;
    }

    .carte__previsualisation {
        position: absolute;
        right: 1.11rem;
        transform: translateY(0.44rem);
    }

    .carte__titre {
        margin-top: 0;
        text-align: center;


    }

    .carte__actions {
        @include flex();
    }

    .carte__date {
        font-style: italic;
    }

    @media screen and (max-width: 1080px) {
        width: 32%;
    }

    @media screen and (max-width: 760px) {
        width: 48%;
    }

    @media screen and (max-width : 560px) {
        width: 98%;
    }
}

.carte__infos {
    @extend .carte__actions;
}

/*============================================================
Formulaire de connexion
============================================================*/

.connexion {
    @include flex(column, center, center);

    div {
        text-align: center;

        .actions {
            @include flex();
        }
    }

    .previsualisation,
    svg {
        width: 1rem;
        height: 1rem;
        fill: $couleur-lien;
    }
}

.connexion {
    .contenu {
        height: 90vh;
        @include flex(row, center, center);

        &>div {
            @extend %carte;
            box-sizing: border-box;
            width: 360px;
        }
    }

    .mot-de-passe input {
        margin-left: 1rem;
    }

    img {
        cursor: pointer;
    }
}

.connexion {
    #header svg {
        position: static;
        margin-top: 2rem;
    }

    .field,
    .submit input[type=submit] {
        margin-bottom: 1rem;
        cursor: pointer;
    }
}

/*============================================================
Formulaire de contact
============================================================*/

.formulaire-contact {
    width: 700px;
    margin: auto;
    @extend %formulaire;

    @media screen and (max-width:760px) {
        width: auto;
    }

    textarea {
        width: 100%;
    }

    textarea {
        background-color: lighten($couleur-secondaire, 50);
        border: none;
    }

}

.fields {
    .field {
        margin: 0.5rem 0;
    }

    .acceptation-conditions input {
        width: auto;
        display: inline-block;
    }
}

/*============================================================
Formulaire de profil
============================================================*/
.formulaire-profil,
.photo-profil {
    /* width: 700px;
    margin: auto;*/

    @media screen and (max-width:760px) {
        width: auto;
    }

    .actions {
        width: 175px;
        @include flex(row, space-around, center);
        margin-bottom: 1.22rem;

        svg {
            width: 1rem;
            height: 1rem;
            fill: $couleur-lien;
            cursor: pointer;

            &:hover {
                fill: darken($couleur-lien, 10);
            }
        }

    }
}

.profil {
    background-image: url(images/modifier.svg);

}

.formulaire-profil {
    @extend %formulaire;
}

.fields {
    .field {
        margin: 0.5rem 0;
    }
}

/*============================================================
Formulaire d'inscription
============================================================*/
.formulaire-inscription,
.champ-obligatoire {
    width: 700px;
    margin: auto;
    @extend %formulaire;

    @media screen and (max-width:760px) {
        width: auto;
    }
}

/*============================================================
Marques-pages
============================================================*/

.les-marques-pages {
    border: 1px solid $couleur-primaire;
    border-radius: 10px;

    .un-marque-page svg {
        width: 1.11rem;
        height: 1.11rem;
        fill: $couleur-lien;
        padding: 0.3rem;
    }

    .un-marque-page {
        display: flex;
        flex-direction: row;
        padding: 1.11rem;

    }

    .alt-fond:nth-child(even) {
        background-color: lighten($couleur-secondaire, 50);
    }

    .alt-fond:first-child {
        border-radius: 10px 10px 0 0;
    }

    .alt-fond:last-child {
        border-radius: 0 0 10px 10px;
    }

}

.lien-les-marques-pages a {
    color: $couleur-primaire;
    margin-left: 1.11rem;
}

/*============================================================
Taxonomie de bloom
============================================================*/

.accordeon {
    @extend %accordeon
}

.pedagogies {
    @include flex(row, space-between, flex-start);

    svg {
        width: 1rem;
        height: 1rem;
        fill: $couleur-lien;

    }

    .un-verbe,
    .une-activite {
        margin: 0.2rem 0;
        @include flex(row, left, center);

    }

    .ajouter-ressource {
        padding: 1rem 0.5rem;
    }


    .un-verbe,
    .une-activite {
        padding: 0 0.5rem;
    }

    .nom-verbe,
    .nom-activite {
        margin-left: .4rem;
    }

    .les-verbes,
    .les-activites {
        @extend %carte;

        .liste-verbes,
        .liste-activites {
            columns: 2 auto;
        }

        width: 48%;
    }
}

@media screen and (max-width: 920px) {
    .pedagogies {
        flex-direction: column;
        align-items: center;

        .les-verbes,
        .les-activites {
            width: 100%;
        }
    }
}

@media screen and (max-width: 460px) {

    .pedagogies {

        .les-verbes,
        .les-activites {

            .liste-verbes,
            .liste-activites {
                columns: unset;
            }
        }
    }
}

/*============================================================
Creer syllabus
============================================================*/
body.creer-syllabus {
    form {
        @extend %formulaire;
    }
}

/*============================================================
Utilisateurs
============================================================*/

.les-utilisateurs {
    border: 1px solid $couleur-primaire;
    border-radius: 10px;
    margin-top: 1.11rem;

    .un-utilisateur a svg {
        width: 1.11rem;
        height: 1.11rem;
        fill: $couleur-lien;

        &:hover {
            fill: darken($couleur-lien, 10);
        }

    }

    .un-utilisateur {
        @include flex;
        padding: 1.11rem;
    }

    .infos-perso {
        @include flex(row, flex-start, center);

        .info {
            margin-right: 1rem;
        }

        .mail {
            font-style: italic;
        }

    }

    .alt-fond:nth-child(even) {
        background-color: lighten($couleur-secondaire, 60);
    }

    .alt-fond:first-child {
        border-radius: 10px 10px 0 0;
    }

    .alt-fond:last-child {
        border-radius: 0 0 10px 10px;
    }

    .actions-utilisateur {
        @include flex(row, flex-end, center);

        .btn {
            width: 92px;
            text-align: center;
            padding: 0.22rem 0.5rem;
            margin: 0 0.5rem;
            border: 3px solid $couleur-lien;
            border-radius: 8px;

            &:not(.est-succes):hover {
                border: 3px solid darken($couleur-lien, 10);
            }
        }


    }


    .btn.est-succes {
        border: unset;
    }
}